<center>
        <section id="footer">
        <div className="container">
          
          <div className="row">
            <div className="col-sm-12 footer-menu" style="display:flex; ">
              <ul id="menu-secondary-menu-us" className="list-unstyled list-inline social text-center" style="list-style:none;">

                <li className="menu-item"style="padding:15px; text-align:center;"><a href="javascript:void();"></a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px; "><a href="javascript:void();">About Us</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px; "><a href="javascript:void();">Blog</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px"><a href="javascript:void();">Press</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px"><a href="javascript:void();">FAQs</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px"><a href="javascript:void();">Contact us</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px"><a href="javascript:void();">Privacy</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px"><a href="javascript:void();">Cookie Policy</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px; "><a href="javascript:void();"> Follow us</a></li>
                <li className="menu-item"style="display: flex; float:left;padding:33px; "><a href="javascript:void();"> Rate us</a></li>
              </ul>
            </div>
          </div>
          <div className="text-center copy">
            <p>
            </p></div>
        </div>
      </section>
      </center>


   