<div className="collapse navbar-collapse" id="bs-example-navbar-collapse-1" "style="height:200px;width:100%;display:flex;list-items:none;float:left">
              <ul className="nav navbar-nav navbar-right"style="display:flex;float:left;list-style-type: none;margin: 0;padding: 0;">
              
                <li className="txt"style="padding:70px"><a href="/"><span>Home</span></a></li>
                <li className="txt"style="padding:70px"><a href="/upload"><span>Greeting Card</span></a></li>
                <li className="txt"style="padding:70px" ><a href="#"><span>About</span></a></li>
                <li className="txt"style="padding:70px"><a href="#"><span>Contact Us</span></a></li>
                <li className="txt"style="padding:70px"><a href="javaScript:void(0)"><span className="userName">Welcome  </span></a></li>
              <li className="txt"style="padding:70px"> <a href="/"> <button className="btn btn-danger " id="sign-out">Sign Out</button></a></li>
               </ul>
               </div>